.story-image-container {
  height: 800px;
  background-size: 180%;
  background-position: top;
  background-repeat: no-repeat;
  background-color: #000;
  display: flex;
  align-items: flex-end;
}

.story-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  padding: 60px 25px;
}

.story-text-container h1 {
  color: #fff;
  width: 300px;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.story-text {
  color: rgb(178, 178, 178);
  font-size: 15px;
  line-height: 22px;
}

.story-details {
  color: rgb(178, 178, 178);
  font-size: 13px;
}

.story-details span {
  font-weight: 700;
  margin-left: 5px;
  color: rgb(185, 185, 185);
}

.story-text-container p.uppercase {
  color: rgb(220, 220, 220);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-size: 12px;
}

@media screen and (min-width: 700px) {
  .story-image-container {
    height: 650px;
    background-size: cover;
    background-position: 60% center;
    align-items: center;
  }

  .story-text-container {
    padding: 0 40px;
    max-width: 476px;
  }

  .story-text-container h1 {
    letter-spacing: 4px;
    font-size: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .story-text-container {
    padding: 105px;
    max-width: 595px;
  }
}
