.logo--icon {
  width: 16px;
  margin-right: 5px;
  fill: rgb(124, 64, 151);
}

.logo--text {
  font-weight: 700;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.logo--text.dark {
  color: black;
}

.logo--text.light {
  color: white;
}
