.logo--icon {
  width: 16px;
  margin-right: 5px;
  fill: rgba(124, 64, 151, 1);
}

.logo--text {
  font-weight: 700;
  font-size: 18px;
}

.logo--text.dark {
  color: black;
}

.logo--text.light {
  color: white;
}
