.grid-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30px 20px 32px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 16px;
}

.grid-section h6 {
  grid-area: 1 / 1 / 2 / -1;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.1px;
}

.grid-section p {
  font-size: 10px;
}

.grid-section img {
  width: 16px;
  height: auto;
}

@media screen and (min-width: 700px) {
  .grid-section {
    grid-template-columns: 297px 122px 150px auto;
    grid-template-rows: 55px;
    align-items: center;
    padding: 0 15px;
    margin-bottom: 0;
  }

  .grid-section h6 {
    grid-area: 1 / 1 / 2 / 2;
  }

  .grid-subtitle {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .grid-section {
    grid-template-columns: 297px 134px 162px auto;
  }
}
