.card-container {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 6px;
  transition: all 0.3s;
}

.card-container h4 {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  font-size: 18px;
}

.card-container p {
  color: rgba(255, 255, 255, 0.782);
  font-size: 13px;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.6);
}

.card-container.main p.card-date {
  display: none;
}

.card-author {
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  padding-bottom: 15px;
}

@media screen and (min-width: 600px) {
  .card-container {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .card-container {
    width: 25%;
    height: 500px;
  }

  .card-container:hover .overlay {
    background-color: rgba(0, 0, 0, 0);
  }

  .card-container:hover .overlay::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6px;
    width: 100%;
    background: rgb(255, 197, 147);
    background: linear-gradient(
      90deg,
      rgba(255, 197, 147, 1) 0%,
      rgba(188, 113, 152, 1) 50%,
      rgba(90, 119, 255, 1) 100%
    );
  }
}
