.section-container {
  display: flex;
  flex-wrap: wrap;
  min-height: 580px;
}

.section-container.features {
  min-height: 490px;
}

.section-container.inverted .text-container {
  order: 2;
}

.text-container {
  flex: 1 2 0;
  min-width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 20px 7%;
  position: relative;
}

.text-container.dark {
  background-color: black;
}

.text-container h2 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1.5px;
  max-width: 375px;
}

.section-container:nth-of-type(2) .text-container h2 {
  max-width: 243px;
}

.text-container.dark h2 {
  color: white;
}

.text-container p {
  color: rgb(123, 123, 123);
  font-size: 15px;
  line-height: 25px;
  max-width: 380px;
}

.text-container.dark p {
  color: rgb(180, 180, 180);
}

.image-container {
  min-width: 375px;
  flex: 2 1 0;
  display: flex;
}

.image-container img {
  width: 100%;
  object-fit: cover;
}

.section-container:first-of-type .section-border {
  position: absolute;
  top: 50%;
  left: 0;
  translate: 0 -50%;
  height: 200px;
  width: 6px;
  background: rgb(255, 197, 147);
  background: linear-gradient(
    45deg,
    rgba(255, 197, 147, 1) 0%,
    rgba(188, 113, 152, 1) 50%,
    rgba(90, 119, 255, 1) 100%
  );
}

@media screen and (max-width: 800px) {
  .text-container {
    flex: 2 1 0;
    min-width: auto;
  }
  .image-container {
    flex: 1 2 0;
    min-width: 272px;
  }

  .section-container.inverted .image-container img {
    object-position: 30%;
  }
}

@media screen and (max-width: 665px) {
  .image-container {
    order: 1;
  }

  .text-container {
    order: 2;
    min-width: 100%;
  }

  .text-container h2 {
    font-size: 32px;
  }
}
