.section-container {
  display: flex;
  flex-wrap: wrap;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 50px 7%;
  padding-top: 36px;
  position: relative;
}

.section-container:first-of-type .text-container {
  padding: 70px 7%;
}

.text-container.dark {
  background-color: black;
}

.text-container h2 {
  max-width: 375px;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.section-container:nth-of-type(2) .text-container h2 {
  max-width: 243px;
}

.text-container.dark h2 {
  color: white;
}

.text-container p {
  max-width: 380px;
  color: rgb(123, 123, 123);
  font-size: 15px;
  line-height: 25px;
}

.text-container.dark p {
  color: rgb(180, 180, 180);
}

.image-container {
  display: flex;
}

.image-container img {
  width: 100%;
  object-fit: cover;
}

.section-container:first-of-type .section-border {
  top: 0;
  left: 26px;
  translate: 0 0;
  height: 6px;
  width: 120px;
  position: absolute;
  background: rgb(255, 197, 147);
  background: linear-gradient(
    45deg,
    rgba(255, 197, 147, 1) 0%,
    rgba(188, 113, 152, 1) 50%,
    rgba(90, 119, 255, 1) 100%
  );
}

@media screen and (min-width: 700px) {
  .section-container {
    min-height: 580px;
  }

  .section-container.features {
    min-height: 490px;
  }

  .section-container.inverted .text-container,
  .section-container.features .text-container {
    order: 1;
  }

  .text-container {
    flex: 2 1 0;
  }

  .text-container h2 {
    font-size: 40px;
  }

  .section-container.inverted .image-container,
  .section-container.features .image-container {
    order: 2;
  }

  .section-container:not(.inverted) .image-container img {
    object-position: 30%;
  }

  .image-container {
    flex: 1 2 0;
    min-width: 272px;
  }

  .section-container:first-of-type .section-border {
    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    height: 200px;
    width: 6px;
  }
}

@media screen and (min-width: 1024px) {
  .text-container {
    flex: 1 2 0;
    min-width: 375px;
  }

  .image-container {
    min-width: 375px;
    flex: 2 1 0;
  }
}
